<h1>
    Codeial / <%= title %>
</h1>

 
<section id="feed-posts">
    <h4> Posts </h4> 
    <!-- remove post box if user is not signed 1st level of security
    for 2nd level of security go to router in posts.js -->

    <% if(locals.user){%>
        <form action="/posts/create" id="new-post-form" method="POST">
            <textarea name="content" cols="30" rows="3" placeholder="Type Here..." required></textarea>
            <input type="submit" value="Post">
        </form>
    <%}%>

    <div id="posts-list-container"> 
        
         <ul>
            <% for(post of posts){ %>

                <%- include('_post') -%>

            <%} %>
        </ul> 
    </div>
</section>
