<% for(token of tokens) {%>      
    <% if(token.Token == param && token.value == <%= "True" %>){%>
        
        <h1>Change your Password</h1>

        <form action="/reset_password/confirmchanging/<%= param %>" method="POST">
            <input type="password" name="password" placeholder="New Password"  required>
            <input type="password" name="Confirmpassword" placeholder="Confirm Password"  required>
            <input type="submit" value="Change Password">
        </form>
        
    <%}else{%>
            <h1>Link expired</h1>
        <%}
    %>

<%}%>
