<div>
    <p>
        Hi! <%= token.user.name %> <br> <br> <p>
            Had u made a Request in Codeial for changing your password .
            if yes, then .....
            Please click on the link to change the password <a href="http://localhost:8000/reset_password/<%= token.Token %> ">reset password</a>
            This link will only work for one time .
<br>
<br>
<p>
    If you hadn't request to change the password , please ignore this email and your password will not be change.
</p>
         
        </p>
        <br> <br>
        <p>Thanks!!!</p>
    </p>
</div>